/* Importação de fonte externa do Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400&family=Edu+TAS+Beginner&display=swap');
/*configuração geral para animação de background mas não está funcionando */

@keyframes degrade-animado{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-y: 100%;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Cormorant SC', serif;
}  

/* configuraçoes de background com efeito degrade*/
body{   background-image:linear-gradient(-145deg, #BFDEF2, #89BAD8, #5D86B4, #3D5D9A,#212C62);
        animation-name: degrade-animado;
        animation-duration: 5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
}

/*Propriedades da classe topo */
.topo{
    font-family: 'Cormorant SC', serif;
    border: 5px double black;
    color: black;
    text-align: center;
    font-size: 25px;
}

/*Propriedades da classe que configura a citação embaixo do titulo do site(classe topo) */
.subtituloTopo{
    font-family: 'Cormorant SC', serif;
    font-family: 'Edu TAS Beginner';
    color:#072f52;
    text-align: center;
    justify-content: space-between;
    font-size: 20px;
    line-height: 5%;   
}

/*Classe para propriedades do titulos do site */
.fontSub{
    font-family: 'Cormorant SC', serif;
    text-align: center;
    font-size: 35px;
    width:100%;
    color: black;
}

/*Classe dos parametros da div das minhas informações*/
.quemSou{
    color: black;
    border-left: 5px double black;
    border-right: 5px double black;;
    padding: 1px 50px 10px 5px;
    margin-right: 75%;
    text-align: left;   
}
.objetivoPro{
    border-top: 5px double black;
    border-left: 5px double black;
    border-right: 5px double black;
    border-bottom: 5px double black;
    text-align: center;
    padding: 3px;
}

/*tag para paremetrização de todos os topicos do site que não foram parametrizados em classes. */
p{
    font-family: 'Cormorant SC', serif;
    font-family: 'Edu TAS Beginner';
    font-size: 20px;
    color:#072f52;
    line-height: auto;  
}

/*Classe com as propriedades do botão trocar de página*/
.botao{
    background-color: #5D86B4;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
}
.botao:hover{
    background:#111248;
}