/* Importação de fonte externa do Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400&family=Edu+TAS+Beginner&display=swap');
/*configuração geral para animação de background mas não está funcionando */

* {
    box-sizing: border-box;
    font-family: 'Cormorant SC', serif;
} 

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }
  
  body {
    background: linear-gradient(-145deg, #BFDEF2, #89BAD8, #5D86B4, #3D5D9A, #212C62);
    background-size: 200% 200%;
    animation: backgroundAnimation 5s infinite alternate;
  }
  

/*Propriedades da classe topo */
.topo{
    /* font-family: 'Cormorant SC', serif; */
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    margin: 10px;
    color: black;
    text-align: center;
    font-size: 25px;

}/* Estilo da caixa de informações (inicialmente oculta) */
.info-content {
    display: none; /* Inicialmente oculta */
    background: linear-gradient(-145deg, #BFDEF2, #89BAD8, #5D86B4, #3D5D9A, #212C62);
    font-family: 'Cormorant SC', serif;
    border: 1px solid #000; /* Borda da caixa */
    padding: 15px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
    position: absolute; /* Posição absoluta para sobrepor outros elementos */
    top: 50px; /* Distância do topo */
    right: 250px; /* Alinhamento à direita */
    width: 350px; /* Largura da caixa */
}

/* Estilo para o botão "+" dentro da caixa de informações */
.plus-button {
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -20px; /* Para alinhar o botão no canto superior direito */
}

/* Estilo para os parágrafos dentro da caixa de informações */
.info-content p {
    margin: 10px 0; /* Espaçamento entre parágrafos */
}

/* Outros estilos de formatação, como cores, fontes, etc., podem ser personalizados conforme desejado. */


/*Propriedades da classe que configura a citação embaixo do titulo do site(classe topo) */
.subtituloTopo{
    font-family: 'Cormorant SC', serif;
    font-family: 'Edu TAS Beginner';
    color:#072f52;
    text-align: center;
    justify-content: space-between;
    font-size: 20px;
    line-height: 5%;   
}

/*Classe para propriedades do titulos do site */
.formatacao{
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    margin: 10px;
    color: black;
    text-align: center;
    font-size: 25px;
}

/*tag para paremetrização de todos os topicos do site que não foram parametrizados em classes. */
p{
    font-family: 'Cormorant SC', serif;
    font-family: 'Edu TAS Beginner';
    font-size: 20px;
    color:#072f52;
    line-height: auto;  
}

/*Classe com as propriedades do botão trocar de página*/
.botao{
    background-color: #5D86B4;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
}
.botao:hover{
    background:#111248;
}

.arrow {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle; /* Alinha verticalmente com o texto */
}

.collapsible {
    cursor: pointer;
    margin-bottom: 5px; /* Espaçamento abaixo de cada item */
}

.content {
    display: none; /* Conteúdo inicialmente oculto */
};

